* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #6b7fba;
    font-size: 12px;
    line-height: 20px;
    color: #525252;
    padding: 0 20px;
}

h2 {
    font-family: 'Calligraffitti', cursive;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.resume {
    width: 800px;
    max-width: 100%;
    height: auto;
    background: #fff;
    margin: 50px auto;
}

.resume .resume_left {
    width: 270px;
}

.resume .resume_right {
    width: 530px;
    background: #8096d0;
    /* left-bg*/
    background: #9ab3eb;
    /* right-bg*/
}

.resume .resume_left .profile_pic {
    width: 100%;
    height: 260px;
    padding: 35px;
    background: #8096d0;
}


.resume .resume_left .profile_pic img {
    width: 100%;
}

.resume .resume_left .left_sub {
    padding: 35px;
    text-align: center;
}

.resume .resume_left .left_sub>div:not(:last-child),
.resume .resume_left .right_sub>div:not(:last-child) {
    margin-bottom: 35px;
}

.resume .resume_left .skills ul li,
.resume .resume_left .skills ul li p:first-child,
.resume .resume_left .hobbies ul li p:first-child {
    display: flex;
    align-items: center;
}

.resume .resume_left .skills ul li:not(:last-child) {
    margin-bottom: 10px;
}

.resume .resume_left .skills ul li p:first-child,
.resume .resume_left .hobbies ul li p:first-child {
    width: 45px;
    height: 45px;
    background: #8096d0;
    margin-right: 15px;
    border-radius: 50%;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

.resume .resume_left .hobbies ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume .resume_left .hobbies ul li {
    margin-bottom: 10px;
}

.resume .resume_right {
    background: #6b7fba;
}

.resume .resume_right .namerole p {
    font-family: 'Calligraffitti', cursive;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
}

.resume .resume_right .namerole p.role {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.resume .resume_right .info {
    padding: 35px;
    background: #fff;
}

.resume .resume_right .info ul {
    display: flex;
    justify-content: space-between;
}

.resume .resume_right .info ul p {
    font-size: 18px;
    font-weight: 700;
}

.resume .resume_right .right_sub {
    padding: 35px;
    padding-bottom: 0;
}

.resume .resume_right .right_sub p {
    color: #fff;
}

.resume .resume_right .right_sub ul li {
    display: flex;
    margin-bottom: 20px;
}

.resume .resume_right .right_sub ul li div:first-child{
    width: 25%;
    margin-right: 15px;
}
.resume .resume_right .right_sub ul li div:last-child{
    width: 75%;
}
.resume .resume_right .right_sub p:first-child{
    font-size: 18px;
    margin-bottom: 5px;
}

